/* .container {
    padding: 5px;
    text-align: center;
} */

.date-class {
    margin-top: 25px;
    padding: 5px;
    text-align: center;
}

.event {
    color: #FFB606;
    font-family: 'Cookie', cursive;
    font-size: large;
}

h5.capitalize {
    text-transform: capitalize;
}

  