/* .container {
    padding: 5px;
    text-align: center;
} */

.date-class {
    margin-top: 4em;
    text-align: center;
}

.event {
    /* color: #B68005; */
    font-family: 'Cookie', cursive;
    font-size: 1.5rem;
}

h1.event{
    font-size: 2.5rem;
}

p.capitalize {
    text-transform: capitalize;
}

.opening {
    /* color: #B68005; */
    font-family: 'Cookie', cursive;
}

h1.opening{
    font-size: 3rem;
}

p.opening {
    font-size: 1.3rem;
    padding-bottom: 1.3em;
}
  