/* .container {
    padding: 5px;
    text-align: center;
} */

.content-txt {
  color: #B28228;
  font-family: 'Cookie', cursive;
  font-size: large;
}

h5.capitalize {
    text-transform: capitalize;
  }

.person {
    padding: 5px ;
    text-align: center;
}

.person h1{
    color: #FFB606;
    font-family: 'Pinyon Script', cursive;
    font-size: xx-large;
}

h1.capitalize {
  text-transform: capitalize;
}

