h1.content-txt {
  color: #DD9900;
  font-family: 'Pinyon Script', cursive;
  font-size: xx-large;
}

.content-txt {
  color: #B68005;
  font-family: 'Cookie', cursive;
  font-size: large;
}

h5.capitalize {
    text-transform: capitalize;
  }

.person {
  margin-top: 4em;
  text-align: center;
}

.person h1{
  color: #DD9900;
  font-family: 'Pinyon Script', cursive;
  font-size:3rem;
}

.person p{
  font-size: 1.3rem;
}

h1.capitalize {
  text-transform: capitalize;
}

