nav {
  display: flex;
  align-items: center;
  background-color: #1B1B1B;
  padding: 10px 5px;
}

nav > .icon  {
  height: 30px;
  margin-right: 5px;
  color: #FFB606;
  padding: 10px;

}

nav > h1.name-initial{
  margin: 0;
  /* color: #B68005; */
  font-size: x-large;
  font-weight: 22px;
  font-family: 'Cookie', cursive;
}