.prokes {
    text-align: center;
    padding-top: 5px;
}

h1.prokes-title {
    color: #B68005;
    font-family: 'Cookie', cursive;
    font-size: 3rem;}

ul.no-bullets{
    color: #DD9900;
    font-size: large;
    list-style-type: none;
    padding-bottom: 2em;
}

ul.no-bullets li{
    padding: 5px;
    font-family: 'Cookie', cursive;
    font-size: 1.3rem;
}