.leaflet-container {
  height: 300px;
  width: 100%;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.static-map {
  width: 100%;
  height: 300px;
}

.maplink{
  margin-bottom: 5px;

}

.loc {
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}

h1.loc-title {
  color: #FFB606;
  font-style: oblique;
  font-size: x-large;
}