.footer{
    background-color: #1b1b1b;
    position:relative;
    width: 100%;
    height: 50px;
}

.copyright-icon {
  height: 15px;
  padding: 5px;
  color: #423416;
}

.footnote {
  font-style: oblique;
  color: #FFB606;
  font-size:medium;
  font-family: 'Cookie', cursive;
}